<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <nav>
        <ul>
            <li><a href="/">Pagina Principal</a></li>
        </ul>
        <ul>
            <li><a href="/tasks">Tareas</a></li>
        </ul>
        {% if user.is_authenticated %}
            <ul>
                <li><a href="/logout">logout</a></li>
            </ul>
        {% else %}
            <ul>
                <li><a href="/signup">Registrarse</a></li>
            </ul>
            <ul>
                <li><a href="/signin">Login</a></li>
            </ul>
        {% endif %}
    </nav>
    {% block content %}

    {% endblock %}
</body>
</html>