{% extends "base.html" %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
{% block content %}
    <body>
        <h1>Home/Pagina principal</h1>
        <div>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas molestiae molestias voluptates iusto dolores cum nemo magni nulla eveniet, rerum rem animi ad assumenda non earum harum. Repellendus, soluta quod.
        </div>
    </body>
    </html>
{% endblock %}
